/* App.css */

/* Importa Bootstrap */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* Fondo de la página */
html, body {
  background-color: rgb(225, 229, 238);
  height: 100%;
}

/* Tipografía */
body {
  font-family: 'Georgia', serif;
  color: #333;
}

/* Navegación */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

/* Botones personalizados */
.btn-custom {
  background-color: #b84116;
  color: white;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #9c3713;
}

/* Formulario de inicio de sesión */
.form-group {
  margin-bottom: 1rem;
}

/* Cuadros de entrada y botones */
input[type="text"],
input[type="password"],
button[type="submit"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
}

button[type="submit"] {
  cursor: pointer;
  background-color: #7ea1be;
  color: white;
}

/* Etiquetas */
label {
  margin-bottom: 0.5rem;
  display: inline-block;
}

/* Mensaje de bienvenida y lema */
.welcome-message,
.welcome-lema {
  text-align: center;
  margin-bottom: 1rem;
}

/* Contenedor de inicio de sesión */
.login-container {
  margin: auto;
  max-width: 400px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo específico para Home */
.home-container {
  background-color: blue;
  color: white;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
