// Importa Bootstrap
@import '~bootstrap/scss/bootstrap';


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}


// Variables personalizadas
$primary-color: #b84116;
$secondary-color: #2c3e50;
$font-color: #ffffff;
$border-radius: 8px;

// Reset y tipografía base
body {
  font-family: 'Arial', sans-serif;
  color: $font-color;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

// Encabezado y pie de página
.App-header {
  padding: 1rem;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 255, 0.5); // Azul transparente
  border-bottom: 5px solid darken(rgba(0, 0, 255, 0.5), 10%);
}

// Botones personalizados
.btn-custom {
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: $border-radius;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

// Tarjetas personalizadas
.card-custom {
  border: 1px solid $secondary-color;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .card-header {
    background-color: $primary-color;
    color: white;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  .card-body {
    padding: 1rem;
  }
}

// Formularios personalizados
.form-custom {
  input,
  textarea,
  select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid $secondary-color;
    border-radius: $border-radius;
  }
}

// Aplicación principal
.App {
  text-align: left;
  padding: 1rem;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
