@import '~bootstrap/dist/css/bootstrap.min.css';

/* Fondo de la página */
html, body {
  background-color: rgb(176, 186, 211);
  height: 100%;
}

/* Tipografía */
body {
  font-family: 'Georgia', serif;
  color: #333;
}

/* Navegación */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

/* Botones personalizados */
.btn-custom {
  background-color: #b84116;
  color: white;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #9c3713;
}

/* Formulario de inicio de sesión */
.form-group {
  margin-bottom: 1rem;
}

/* Cuadros de entrada y botones */
input[type="text"],
input[type="password"],
input[type="email"], /* Añadido */
button[type="submit"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: transparent;
}

button[type="submit"] {
  cursor: pointer;
  background-color: #7ea1be;
  color: white;
}

/* Etiquetas */
label {
  margin-bottom: 0.5rem;
  display: inline-block;
}

/* Mensaje de bienvenida */
.welcome-message,
.welcome-lema {
  text-align: center;
  margin-bottom: 1rem;
}

/* Contenedor de inicio de sesión */
.login-container {
  margin: auto;
  max-width: 400px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo específico para Home */
.home-container {
  background-color: rgb(40, 40, 126);
  color: rgb(122, 50, 50);
}

/* Dropdowns y submenús */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}



/* Artículos y listas */
.article-section h3 {
  cursor: pointer;
  padding: 10px;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}

.article-list {
  padding-left: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: none; /*Ocultado  */
}

.article-list.show {
  display: block; /* Cuando se hace click */
}

/* Subscripciones y planes */
.subscription-container {
  padding: 2rem;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.plans {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.plan {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 1.5rem;
  width: calc(50% - 2rem);
  margin: 1rem;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.plan h2 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.plan ul {
  text-align: left;
  list-style-type: disc;
  margin: 0;
  padding: 0 1rem;
  max-height: 300px;
  overflow-y: auto;
}

.plan li {
  margin-bottom: 0.5rem;
}

/* Contenedores generales */
.container {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Estilos para inputs y selects */
input[type="text"],
select {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

/* Estilos para botones de ordenación */
.btn-primary,
.btn-secondary {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #007bff;
}

.btn-secondary:hover {
  background-color: #6c757d;
}

/* Estilos para cards de artículos */
.card {
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 1rem;
}



/* Estilos generales */
.form-group {
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Estilos para Register */
.register-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para Profile */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #bec9e6;  /* Fondo ligeramente gris */
}

.profile-card {
  width: 80%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para la tarjeta */
}

/* Estilos para los botones dentro del perfil */
.profile-card button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #26486e; /* Color de fondo */
  border: none;
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor */
  margin-right: 10px; /* Margen a la derecha */
  transition: background-color 0.3s ease; /* Transición suave */
}

.profile-card button:hover {
  background-color: #45a049; /* Cambio de color al pasar el ratón */
}


/* Estilos para ProcessSubscription */
.subscription-process-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px; /* Bordes más redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para más profundidad */
}

.subscription-process-container button {
  padding: 12px 24px;
  background-color: #3498db; /* Color azul */
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscription-process-container button:hover {
  background-color: #2980b9; /* Color azul más oscuro al pasar el ratón */
}


/* Contenedor de usuarios con mejor desplazamiento y visibilidad */
.manage-users-container {
  max-width: 100%;
  margin: auto;
  padding: 20px;
  overflow-x: auto; /* Permite el desplazamiento si es necesario */
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9; /* Fondo más claro */
}

/* Estilos para la tabla con mejor respuesta */
.manage-users-table {
  max-width: 100%; /* Se ajusta al contenedor */
  border-collapse: collapse;
  white-space: nowrap;
}

/* Cabeza de tabla con mejor contraste */
.manage-users-table thead th {
  padding: 20px;
  border-bottom: 2px solid #666; /* Línea más oscura para mayor contraste */
  background-color: #333; /* Fondo oscuro */
  color: #fff; /* Texto claro */
}

/* Cuerpo de tabla */
.manage-users-table tbody td {
  padding: 20px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  background-color: #fff; /* Fondo claro para cada fila */
}

/* Botones en la tabla */
.manage-users-table button {
  padding: 10px 20px;
  background-color: #5C6BC0; /* Color de fondo principal */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.manage-users-table button:hover {
  background-color: #3949AB; /* Color más oscuro para el hover */
}

/* Campos de entrada */
.manage-users-table input[type="text"],
.manage-users-table input[type="email"],
.manage-users-table select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%; /* Ocupa el ancho disponible */
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: calc(100% - 20px); /* Ajuste para padding */
  padding: 10px;
  font-size: 16px;
  border-radius: 4px; /* Bordes redondeados para la barra de búsqueda */
  border: 1px solid #ccc;
}


/* CreateAd Container */
.create-ad-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border: 1px solid #c0d0f3;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* CreateAd Buttons */
.btn-primary {
  background-color: #2d1fa5;
  color: rgb(213, 214, 235);
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #260b8a;
}

/* AddDetails Container */
.add-details-container {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 0.25rem;
  margin-top: 1rem;
}

.add-details-container h3 {
  color: #343a40;
  margin-bottom: 0.5rem;
}

/* General Ad Styles */
.ad-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

.card-body {
  text-align: center;
}

.btn-secondary.ml-2,
.btn-danger.ml-2,
.btn-info.ml-2 {
  margin-top: 10px;
}

/* Custom spacing */
.col-md-4 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

/* Ad container links */
.ad-container a {
  text-decoration: none;
  color: white;
}


/* Estilos generales para los formularios */
.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 50px;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-button:hover {
  background-color: #0056b3;
}

/* Estilos para la página de éxito */
.success-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
  background-color: #f4f4f4;
}

.success-message {
  font-size: 28px;
  margin-bottom: 30px;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.success-link {
  display: inline-block;
  padding: 15px 30px;
  background-color: #007bff;
  color: white;
  border-radius: 50px;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.success-link:hover {
  background-color: #0056b3;
}


.logout-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff4b5c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #e63946;
}



.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  padding: 10px;
  border: 1px solid #817e7e;
  border-radius: 4px;
}


.my-articles-container {
  padding: 20px;
}

.article-section h3 {
  cursor: pointer;
}

.article-list {
  display: none;
  margin-top: 10px;
}

.article-list.show {
  display: block;
}


.automatic-offer-container {
  max-width: 1000px;
  margin: auto;
  padding: 20px;
  background-color: #f1f5f9;
  border-radius: 10px;
  box-shadow: 0px 4px 6px #aaa;
}

.form-section, .offers-section, .offer-details {
  margin-bottom: 20px;
}

h1, h2, h3 {
  color: #1a73e8;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

select {
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #1a73e8;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #155a8a;
}

.offers-grid {
  display: flex;
  flex-wrap: wrap;
}

.offer-card {
  width: 30%;
  margin: 10px;
  padding: 15px;
  background-color: #e3f2fd;
  border: 1px solid #bbdefb;
  border-radius: 4px;
  cursor: pointer;
}

.offer-card:hover {
  background-color: #bbdefb;
}

.edit-section {
  background-color: #e8f0fe;
  padding: 15px;
  border-radius: 4px;
}

.buttons-section {
  margin-top: 10px;
}



.demand-offer-container {
  width: 100%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.form-section,
.offers-section,
.offer-details {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-section label,
.offers-section label,
.offer-details label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-section input,
.form-section select,
.offers-section input,
.offers-section select,
.offer-details input,
.offer-details select {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.offers-grid {
  display: flex;
  flex-wrap: wrap;
}

.offer-card {
  width: 200px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.offer-details {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.offer-details table {
  width: 100%;
  border-collapse: collapse;
}

.offer-details th,
.offer-details td {
  border: 1px solid #ccc;
  text-align: left;
  padding: 8px;
}

.offer-details th {
  background-color: #f2f2f2;
}



/* Estilos para la página de inicio */

/* Artículos */
.article-card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 2rem;
  transition: transform 0.2s ease-in-out;
}

.article-card:hover {
  transform: scale(1.03);
}

.article-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.article-content {
  padding: 1rem;
}

.article-title {
  font-size: 1.2rem;
  color: #333;
  margin: 0.5rem 0;
}

.article-metadata {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #666;
}

/* Anuncios */
.ad-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.2s ease-in-out;
}

.ad-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ad-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

/* Contenedores y grid */
.article-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
}

.ads-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
}

/* Responsivo */
@media (max-width: 768px) {
  .article-grid {
    grid-template-columns: 1fr;
  }

  .ads-grid {
    grid-template-columns: 1fr;
  }
}

.authors-container {
  padding: 20px;
}

.toggle-button {
  background-color: #007bff; /* Blue background for the button */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.toggle-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.authors-table {
  margin-top: 20px;
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  border: 2px solid #007bff; /* Blue border for the table */
}

.authors-table th,
.authors-table td {
  border: 1px solid #007bff; /* Blue border for th/td */
  padding: 8px;
  text-align: left;
}

.authors-table th {
  background-color: #007bff; /* Blue background for the header */
  color: white;
}

.authors-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.authors-table tbody tr:hover {
  background-color: #ddd; /* Hover effect for table rows */
}

@media screen and (max-width: 600px) {
  .toggle-button,
  .authors-table {
    width: 100%;
    font-size: 14px;
  }
}

/* commentStyles.css */

/* Contenedor general de los comentarios */
.comments-container {
  margin: 0 auto;
  max-width: 800px; /* Ajusta esto según la anchura deseada */
  padding: 1rem;
}

/* Estilo para cada comentario */
.comment {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  border: 1px solid #e1e1e1;
}

/* Estilo para las respuestas */
.reply {
  margin-top: 0.5rem;
  margin-left: 2rem; /* Añade indentación a las respuestas */
  background-color: #f0f0f0;
}

/* Botones y áreas de texto */
.comment button,
.comment textarea {
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}

.comment button {
  background-color: #5c5cff;
  color: white;
  cursor: pointer;
  border: none;
}

.comment button:hover {
  background-color: #4b4bbf;
}

.comment textarea {
  width: 100%;
  min-height: 80px;
}

/* Clase para errores */
.error {
  color: red;
  margin-top: 0.5rem;
}


.category-managers-container {
  display: flex;
  justify-content: space-between; /* Esto separará los dos componentes */
  padding: 20px;
}

/* Si los componentes no tienen un ancho definido, puedes hacerlo así */
.category-managers-container > div {
  flex-basis: 48%; /* Asumiendo que quieres que cada uno tome menos de la mitad del espacio para no tocarse */
}


/* Estilo específico para Home */
.home-background {
  background-color: #152851; /* Nuevo color de fondo */
}

/* Resto de tus estilos CSS */


.highlighted-comment {
  background-color: rgb(234, 109, 85); /* O cualquier otro estilo que prefieras */
}


.notification-dot {
  height: 10px;
  width: 10px;
  background-color: #ff0000;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}



.moderation-panel {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.moderation-panel h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.moderation-panel ul {
  list-style: none;
  padding: 0;
}

.moderation-panel li {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

.moderation-panel li:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.moderation-panel p {
  margin: 10px 0;
  color: #555;
}

.moderation-panel a {
  display: inline-block;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.moderation-panel a:hover {
  background-color: #0056b3;
}

.strong {
  font-weight: bold;
}

.auto-censored-message {
  color: red;
}



.censored-comment-style {
  /* Estilo para ocultar o alterar la visualización del texto del comentario censurado */
  color: rgba(128, 128, 128, 0.7); /* Gris con un poco de transparencia */
  font-style: italic; /* Texto en cursiva */
}
